@model IEnumerable<BigBombsWeb.Models.UserProfile>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Losses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
    </tr>
}

</table>
