@model BigBombsWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="userContainer">
    <div id="changePasswordContainer">
        <p class="message-success">@ViewBag.StatusMessage</p>

        <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <section id="externalLogins" class="exLoginList">

        @Html.Action("ListProfileDetails")

        @Html.Action("RemoveExternalLogins")

        <h2>Add an external login</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
